.card{
    display:flex;
    flex-direction: row;
    padding:10px;
    justify-content: space-between;
    
    
}

.card_props{
    display:flex;
    flex-direction: row;
}

.card__image{
    display: flex;
    
img{
    width: 250px;
}

}

.unfav{
    width: 15px;
    height: 15px;
    align-self: flex-end;
    
}
.card__details{
    display: flex;
    flex-direction: column;
    
    span{
        color: brown;
        font-weight: bold;
    }

}